*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  height: 534px;
  width: 1140px;
  display: grid;
  grid-template-columns: 711px 1fr;
  gap: 30px;
  align-items: end;
}

.result {
  min-width: 711px;
} 

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__details {
  min-width: 399px;
}

.content__list {
  height: 298px;
  overflow: auto;
}